{% extends "base.html" %} {% block content %} {%load static%}

<main>
  <div class="aside-header d-flex align-items-center">
    <h3 class="text-uppercase fs-6 mb-0">
      SHOPPING BAG <span class="cart-amount js-cart-items-count">1</span>
    </h3>
  </div>

  <div class="aside-content cart-drawer-items-list">
    <div class="cart-drawer-item d-flex position-relative">
      <div class="position-relative">
        <img
          loading="lazy"
          class="cart-drawer-item__img"
          src="{%static '/images/cart-item-1.jpg' %}"
        />
      </div>
      <div class="cart-drawer-item__info flex-grow-1">
        <h6 class="cart-drawer-item__title fw-normal">dffff</h6>
        <p class="cart-drawer-item__option text-secondary">Color: Yellow</p>
        <p class="cart-drawer-item__option text-secondary">Size: L</p>
        <div class="d-flex align-items-center justify-content-between mt-1">
          <div class="qty-control position-relative">
            <input
              type="number"
              name="quantity"
              value="1"
              min="1"
              class="qty-control__number border-0 text-center"
            />
            <div class="qty-control__reduce text-start">-</div>
            <div class="qty-control__increase text-end">+</div>
          </div>
          <span class="cart-drawer-item__price money price">$99</span>
        </div>
      </div>

      <button
        class="btn-close-xs position-absolute top-0 end-0 js-cart-item-remove"
      ></button>
    </div>

    <hr class="cart-drawer-divider" />
  </div>
</main>

{% endblock %}
