{% extends "seller_base.html" %} {% block content %} {% load static %}
<main>

    <div class="aside-header d-flex align-items-center">
      <h3 class="text-uppercase fs-3 mb-0 text1">Add products</h3>
    </div>
    <div>
      <h6 class="red">{{msg}}</h6>
    </div>
    <form action="{% url 'seller_addproduct'%}" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="profile1">
      <div class="col-lg-9">
        <div class="page-content my-account__edit">
          <div class="d-flex align-items-center">
            <h3 class="text-uppercase text1 editprofile">add product</h3>
          </div>
            <div class="my-account__edit-form">
              
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-floating my-3">
                      <input
                        type="text"
                        class="form-control"
                        id="account_display_name"
                        placeholder="Display Name"
                        name="pname"
                        required
                      />
                      <label for="account_display_name">Product name</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-floating my-3">
                      <input
                        type="text"
                        class="form-control"
                        id="account_email"
                        placeholder="Email Address"
                        name="desc"
                        required
                       />
                      <label for="account_email">Product discription</label>
                    </div>
                  </div>
                  
                  <div class="col-md-12">
                    <div class="form-floating my-3">
                      <input
                        type="text"
                        class="form-control"
                        id="account_current_password"
                        placeholder="Current password"
                        name="price"
                        required
                      />
                      <label for="account_current_password">product price</label>
                    </div>
                  </div>

                  <div class="profilimage">
                    <img src="" alt=""/> <br>
                    <input type="file" value="Enter image" name="productpic" required>
                  </div>  

                  <div class="col-md-12">
                    <div class="my-3">
                      <button class="btn btn-primary" type="submit">Uplode product</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </main>

  {% endblock %}